<html>
    <head><title> Registration Form</title></head>
    <body bgcolor="cyan">
         <form method='POST' action="/login" style="color: blueviolet;">
            <div>
                <h1><center>Welcome to My Flask Web Application!</center></h1>
                <h2>
                    <p style="color: blue;"<div style="text-decoration:double; text-align: center;">This is the Home Page.</div>
                <h3>
                        <p style="color:rgb(214, 8, 101); align-content: center;">Welcome users</p> 
                </h3> 
                <h4>
                    <p> Please Kindly login</p>
                </h4>
        
                <center><h2>Registration Form</h2></center>  
            </div>
            <table align="right" cols="2" rows="3" border="0" style="color:red">
                <tr>
                <p><p> </p></p></p><p><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <td> Username :</td> 
                    <td> <input type ="text" name="uname" autocomplete="off"></td></div></p></tr>
                <tr><p><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <td> Password :</td> 
                    <td> <input type ="password" name="upass"></td></div></p></tr>
                <tr><div><p><td><button type ="submit" colspan="2" >Login</button></td></div></p></tr>
            </table> 
        </form>
      </body>
</html>